.top-container {
  background-color: #293462;
  color: #ffff;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 5.625rem;
  color: #f7be16;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #f7be16;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #ec9b3b;
}

a {
  color: #ec9b3b;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #010038;
  color: #eeeeee;
}

p {
  line-height: 2;
}

hr {
  border: dotted #f1d6ab 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.profile-pict {
  width: 250px;
}

.web-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.mobile-img {
  width: 25%;
  float: right;
  margin-left: 30px;

  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #293462;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #354480;
  background-image: -webkit-linear-gradient(top, #354480, #293462);
  background-image: -moz-linear-gradient(top, #354480, #293462);
  background-image: -ms-linear-gradient(top, #354480, #293462);
  background-image: -o-linear-gradient(top, #354480, #293462);
  background-image: linear-gradient(to bottom, #354480, #293462);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  color: #f7be16;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 100;
  padding: 10px;

  text-shadow: 1px 1px 20px #000000;
  border: solid #293462 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #225187);
  background-image: -moz-linear-gradient(top, #1e62d0, #225187);
  background-image: -ms-linear-gradient(top, #1e62d0, #225187);
  background-image: -o-linear-gradient(top, #1e62d0, #225187);
  background-image: linear-gradient(to bottom, #1e62d0, #225187);
  text-decoration: none;
}

.social-icons {
  padding-left: o;
}

.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li a :hover {
  background-color: #010038;
}

.social-icons li img {
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 5px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}
